
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户登录</title>
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
<meta name="apple-touch-fullscreen" content="yes">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta content="email=no" name="format-detection" />
<link href="../static/css/jeui.css" rel="stylesheet" type="text/css">
<link href="../static/css/base.css" rel="stylesheet" type="text/css">
<link href="../static/css/members.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/njs/common/zepto.min.js"></script>
<script type="text/javascript" src="../static/njs/common/common.js"></script>
<script type="text/javascript" src="../static/njs/plugins/comMerges.js"></script>
<script type="text/javascript" src="../static/njs/controller/login.js"></script>
</head>
<body>

<!--Star-->

<div class="mswrapper" id="loginBox">
<div class="" id="goback"></div>
<div class="lognewbox" id="lognewbox"></div>
<!--header end-->
<div class="lognewlogo"></div>
<div class="lognewcon f14">
     <ul>
          <li>
             <input type="text" class="lognewinput loguser f14" id="userCode" placeholder="手机号码或洋葱昵称">
          </li>
          <li class="jepor">
             <input type="password" class="lognewinput logpass f14" id="passWord" placeholder="请输入登录密码"><em class="togglepass" id="togglepass"></em>
          </li>
          <li class="mt5"><button type="button" class="lognewbtn f16 rdu5" onclick="login();">LOGIN 登录</button></li>
     </ul>
</div>
<div class="lognewother">
     <ul class="ovh f14">
          <li class="jeflex" onclick="jems.goUrl('register.html')"><em class="nicoa logzhuc"></em><p class="ntext">注册账号</p></li>
          <li class="jeflex" id="wechat_login" onclick="wxlogin()"><em class="nicob logweix"></em><p class="ntext">微信登录</p></li>
          <li class="jeflex" onclick="jems.goUrl('back-password.html')"><em class="nicoa logsuo"></em><p class="ntext">忘记密码</p></li>
     </ul>
</div>
</div>
<!--End-->
</body>
</html>
